/data
/__pycache__
/wandb
.DS_Store

job_error_2.txt
job_output_2.txt
job_error_3.txt
job_output_3.txt
job_error_test_cnn_dilatada.txt
job_output_test_cnn_dilatada.txt
job_error_test_cnn.txt
job_output_test_cnn.txt

env

.ptb-xl-a-large-publicly-available-electrocardiography-dataset-1.0.3.zip

/ptb-xl-a-large-publicly-available-electrocardiography-dataset-1.0.3

/teste_1_menosDados_50_it
